.flight-search-contrainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  p {
    text-align: center;
    margin-bottom: 15px;
  }
  
  #header {
    color: black;
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
  }
  
  #add-to-trips-button {
    width: 152px;
    height: 40px;
    border: solid 0px;
    border-radius: 6px;
    background-color: #08203c;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
    margin-left: 100px;
  }
  
  #add-to-trips-button:hover {
      transform: scale(1.02);
  }
  
  #add-to-trips-button:active {
      transform: scale(0.97);
    }
